In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv('./data_ignored/synthetic_gmv_data_1.1.csv')
df1.head()

      user_id  gmv
0  guo0pdwqvg  506
1  guo0pdwqvg  760
2  guo0pdwqvg  633
3  guo0pdwqvg  506
4  guo0pdwqvg  760

In [ ]:
df2 = pd.read_csv('./data_ignored/synthetic_gmv_data_1.2.csv')
df2.head()

      user_id   gmv group_name
0  myo4ixol31  1428       test
1  myo4ixol31  1428       test
2  myo4ixol31  1071       test
3  myo4ixol31  1071       test
4  pkzf2889ww   351       test

In [6]:
df3 = pd.read_csv('./data_ignored/synthetic_gmv_data_1.3.csv')
df3.head()

   gmv_hist  gmv_exp group_name
0    200.78   123.19       test
1    363.80   134.49    control
2     39.93   116.72    control
3    150.99   177.67    control
4    208.93    65.30       test